---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </nav>
    <h1>Blog</h1>
    <ul>
        <li><a href="/posts/travelling-in-nairobi/">My Experience Travelling in Nairobi, Kenya</a></li>
    </ul>
</body>
</html>